/* @import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kumbh+Sans:wght@100..900&family=Lexend+Deca:wght@100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tagesschrift&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kumbh+Sans:wght@100..900&family=Lexend+Deca:wght@100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tagesschrift&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap");

:root {
  --Red-400: hsl(7, 99%, 70%);
  --Yellow-500: hsl(51, 100%, 49%);
  --Green-800-graphic-design-text: hsl(167, 40%, 24%);
  --Blue-800-photography-text: hsl(198, 62%, 26%);
  --Green-500-footer: hsl(167, 34%, 41%);
  --Grey-950: hsl(212, 27%, 19%);
  --Grey-600: hsl(213, 9%, 39%);
  --Grey-550: hsl(232, 10%, 55%);
  --Grey-400: hsl(210, 4%, 67%);
  --White: hsl(0, 100%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fraunces", serif;
  display: flex;
  flex-direction: column;
}

.main_page {
  /* border: 2px solid red; */
}

.header {
  position: relative;
  width: 100%;
  height: 55vh;
  overflow: hidden;
}

.header__bg {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.header__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.header_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.2rem;
}

.logo__image {
  height: 20px;
}

.nav__list {
  display: none;
}

.section__image-image {
  width: 100%;
}

.hero__title {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--White);
  margin-top: 3rem;
  /* margin-bottom: 10rem; */
  letter-spacing: 0.5rem;
}

.hero__arrow {
  position: absolute;
  top: 65%;
  right: 38%;
  height: 20%;
  transform: translate(-50%, -50%);
}

.section__content {
  /* border: 2px solid blue; */
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section__title {
  font-size: 1.7rem;
  text-align: center;
  padding: 0rem 1.5rem;
}

.section__text,
.testimonials,
.client__career,
.design__text {
  font-family: "Barlow", sans-serif;
}

.section__text {
  font-size: 1rem;
  text-align: center;
  line-height: 1.5;
  margin: 1rem 0rem;
  color: var(--Grey-550);
  font-weight: 500;
}

.learn__more {
  list-style-type: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
}

.learn__more:hover {
  cursor: pointer;
  border-bottom: 2px solid var(--Yellow-500);
}

.section__images-image {
  width: 100%;
}

.section__content_design,
.section__content_photography {
  background-size: cover;
  height: 55vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section__content_design {
  background-image: url("/images/mobile/image-graphic-design.jpg");
}

.section__content_photography {
  background-image: url("/images/mobile/image-photography.jpg");
}

.design_main__text {
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
  align-items: center;
  margin-bottom: -18rem;
  text-align: center;
}

.design__title {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--Green-800-graphic-design-text);
}

.design__text {
  font-size: 0.8rem;
  color: var(--Green-800-graphic-design-text);
  font-weight: 600;
  padding: 1rem 0.5rem;
}

.clients__section {
  text-align: center;
  padding: 2rem 1.5rem;
}

.clients__section h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: var(--Grey-400);
  letter-spacing: 5px;
}

.clients__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.clients__info {
  padding: 2.5rem 0rem 0rem;
}

.testimonials {
  color: var(--Grey-600);
  font-weight: 600;
  padding: 1.2rem 0rem;
  line-height: 1.5;
  font-size: 0.9rem;
}

.client__name {
  color: var(--Grey-950);
  font-weight: bold;
  margin-bottom: 1rem;
}

.client__career {
  color: var(--Grey-400);
  font-size: 0.8rem;
}
.image-gallery img {
  width: 100%;
  height: auto;
  display: block;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer {
  padding: 2.5rem 1rem 5rem;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__logo-image {
  color: var(--Green-500-footer);
}

.footer__list,
.social__media {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer__list {
  gap: 3.5rem;
  text-decoration: none;
  padding: 1.5rem 0rem 4rem;
}

.footer__item a {
  text-decoration: none;
  color: var(--Green-500-footer);
  font-size: 0.9rem;
}

.social__media {
  gap: 1.5rem;
}

/* 
@media (min-width: 500px) and (max-width: 765px) {
  .header {
    height: 90vh;
  }
} */
